body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;

  width: 800px;
  margin: 0 auto;
  padding: 10px;
  color: #333;
}

h2 {
  color: red;
  font-size: 36px;
}
.main-title {
  color: blue;
}

title {
  color: pink;
}
